body
{
  background-color: #F0F2F5;
}
.navbar
{
  background-color: #041528;
}

.navbar-brand
{
  background-color: #364453;
  width:160px;
  height:32px;
  margin: 16px 16px;
}
.navbar-header button
{
  margin-top: 11px;
}
.icon-bar
{
  height:3px;
  margin-bottom:6px;
  background-color:#979797;
}
#bs-example-navbar-collapse-1 div
{
  width:100%;
  height:64px;
  font-size:20px;
  color:#FFF;
  padding: 24px 0px 52px 19px;
  cursor: pointer;
}
#bs-example-navbar-collapse-1 div:hover
{
  background-color: #4090F7;
}
.bottom
{
  margin-top:-16px;
  margin-bottom:16px;
}
.col-md-3
{
  background-color: #FFFFFF;
  height:170px;
  margin:16px;
  perspective:800px;
  transition: transform 1s;
  transform-style: preserve-3d;
  position:relative;
  cursor:pointer;
}
.col-md-3 .front
{
  backface-visibility:hidden;
  position: absolute;
  top:0px;
  left:0px;
}
.col-md-3 .back
{
  backface-visibility:hidden;
  position: absolute;
  top:0px;
  left:0px;
  transform: rotateY( 180deg );
}
.col-md-3:hover{
  transform: rotateY( 180deg );
}
.collapse,.navbar-collapse
{
  padding:0;
}

@media (min-width: 768px) {
  .bottom
  {
    margin-top:-8px;
    margin-bottom:16px;
  }
  .navbar-header
  {
    padding-left: 32px;
  }
  .navbar-brand
  {
    margin: 16px 32px;
  }
  #bs-example-navbar-collapse-1 div
  {
    width:106px;
    height:64px;
    font-size:24px;
    padding:0px;
    padding-left: 19px;
    padding-top: 16px;
    float:left;
  }
  .row
  {
    margin-left:8px;
    margin-right:8px;
  }
  .col-md-3
  {
    margin:8px;
    margin-bottom: 16px
  }
  .top
  {
    margin-top:4px;
  }
}
@media (min-width: 991px)
{
  .bottom
  {
    margin-bottom:0px;
  }
  .row
  {
    margin-left:8px;
    margin-right:-11px;
  }
  .col-md-3
  {
    padding: 0 150px;
    margin-bottom: 8px;
    margin-left: 8px;
  }
}
@media (min-width: 1280px)
{
  .row
  {
    margin-right:-8px;
  }
  .top
  {
    margin-top:4px;
  }
  .col-md-3
  {
    margin-left:8px;
    padding: 0 197.8px;
  }
}
